:root {
    --bg: #181e2b;
    --primary: #586072;
    --link: #ffffff;
}

body {
    background-color: var(--bg);
}

.sr-only {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
}

/* Typography Styles */
a {
    color: var(--link);
    text-decoration: none;
}

/* NavBar */
nav {
    margin: auto;
    max-width: 72rem;
}

ul.menu a {
    display: flex;
}

h1 {
    color: var(--primary);
}

header {
    background-color: black;
}

/* Medium Screens */
@media screen and (min-width: 64rem) {
    ul.menu {
        display: flex;
        justify-content: space-between;
    }
}

/* Large Screens */